@import "leaflet/dist/leaflet.css";

:root {
  color-scheme: light;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

.app-body {
  margin: 0;
  font-family:
    "Inter",
    "Segoe UI",
    "Roboto",
    "Helvetica Neue",
    system-ui,
    -apple-system,
    sans-serif;
  background-color: #f5f5f5;
  color: #0f172a;
}
